#header {

text-align: center;
padding: 5px;
font-family: Consolas;

}

#albuminfo {

text-align: center;

}

#subheader {

text-align: center;
padding: 10px;
border-top: 1px solid black;
font-family: Consolas;

}

#albumcover {

background-image: url(http://ecx.images-amazon.com/images/I/81CzfbO4CrL._SL1425_.jpg);
height:400px;
width:400px;
background-size: cover;
margin: auto;

}

#bandmembers {

font-style: italic;

}