#header h1{

text-align: center;
border-bottom: 1px solid black;
padding: 30px;
font-family: Consolas;

}

#footer h3{

text-align: center;
border-top: 1px solid black;
margin: 0px;
padding: 0px;

}

#menu ul{

padding: 15px;
margin: 0;
list-style-type: none;
text-align: left;
border-bottom: 1px solid black;
}

#menu li{

display: inline;
padding:15px;
vertical-align:middle;
}

      a{

text-decoration: underline;
font-weight: none;
color: green;

}

      a:link{

text-decoration: underline;
font-weight: none;
color: green;

}

      a:visited{

color: red;

}

      a:hover{

font-weight: bold;

}

      a:active{

text-decoration: none;

}

#homecontent{

background-color: thistle;

}

#bevcontent{

background-color: thistle;
text-align: right;

}

#formcontent{

background-color: thistle;
font-weight: bold;

}

